@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 cursor: none;
  font-family: 'Syne', sans-serif;
}

.heading {
  font-family: 'Syne', sans-serif;
  font-weight: 800;
}

.skillBg {
  background-image: url('/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #27272A;
  background-size: cover;
}
.topBg {
  background-image: url('/images/topbackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #27272A;
  background-size: cover;
}

.projectBg {
  background-image: url('/images/projectBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #27272A;
  background-size: cover;
}


.cursor {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50px;
  position: absolute;
  pointer-events: none;
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  transition-property: background, transform;
  z-index: 1;

}

.hero-Title, .hero-Dash, .hero-Title_End, .hero-Title_Web,
.hero_Title_Dev {
  font-size: 110px;
  letter-spacing: 2px;
  line-height:1.2;
  font-family: 'Syne', sans-serif;
  font-weight: 800;
}


/***Media Queries***/

@media screen and (max-width: 386px){
.aboutPosition {
    position: relative;
    right: 321px;
  }
}

@media screen and (max-width: 1034px) {
  .hero-Title, .hero-Dash, .hero-Title_End, .hero-Title_Web,
  .hero_Title_Dev {
  font-size: 60px;
  letter-spacing: 2px;
  line-height:1;
}
}

@media screen and (max-width: 705px) {
   .hero-Title, .hero-Dash, .hero-Title_End, .hero-Title_Web,
  .hero_Title_Dev {
  font-size: 50px;
  letter-spacing: 2px;
  line-height:1;
}

 .aboutPosition {
    position: relative;
    right: 322px
  }
}

@media screen and (max-width: 701px) {
   .hero-Title, .hero-Dash, .hero-Title_End, .hero-Title_Web,
  .hero_Title_Dev {
  font-size: 30px;
  letter-spacing: 2px;
  line-height:1;
  font-weight: 700;
}
}

@media screen and (max-width: 710px) {
   .hero-Title, .hero-Dash, .hero-Title_End, .hero-Title_Web,
  .hero_Title_Dev {
  font-size: 30px;
  letter-spacing: 2px;
  line-height:1;
}
}

@media screen and (min-width: 592px){
  .aboutPosition {
    position: relative;
    right: 302px;
  }
}

@media screen and (min-width: 588px){
  .aboutPosition {
    position: relative;
    right: 302px;
  }

}

@media screen and (max-width:530px) {
   .hero-Title, .hero-Dash, .hero-Title_End, .hero-Title_Web,
  .hero_Title_Dev {
  font-size: 50px;
  letter-spacing: 2px;
  line-height:1;
  font-weight: 400;
}
}

@media screen and (max-width:451px) {
   .hero-Title, .hero-Dash, .hero-Title_End, .hero-Title_Web,
  .hero_Title_Dev {
  font-size: 10px;
  letter-spacing: 2px;
  line-height:1;
  font-weight: 300;
  
}
}

@media screen and (max-width: 1044px) {
  .hero-Title, .hero-Dash, .hero-Title_End, .hero-Title_Web,
  .hero_Title_Dev {
  font-size: 80px;
  letter-spacing: 2px;
  line-height:1;
}
   .aboutPosition {
    position: relative;
    right: -90px
  }
}

@media screen and (max-width: 1023px) {
   .aboutPosition {
    position: relative;
    right: 280px
  }
}

/*************************/

.imgBox {
  width: 400px;
  object-fit: contain;
}

.glassCard {
background: #cc2c2ccc;
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
width: fit-content;
}


.skillsCard {
background: rgba( 11, 11, 11, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12.5px );
-webkit-backdrop-filter: blur( 12.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
width: 60rem;
}

.frontEnd {
clip-path: polygon(0 0, 100% 0%, 42% 100%, 0 100%);
background: rgba(65, 64, 64, 0.8);
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
height: 30rem;
}

.projectCard {
background: rgba( 100, 97, 97, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.preloader {
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  background-color: #27272A;
  z-index: 99;
  height: 100vh;
}